
<center>
<h1>Login</h1>
<%= form_tag sessions_path, class: 'user-card' do |form| %>
  <div class=”field” id="inside" >
    <%= label_tag :email %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= text_field_tag :email %>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class='field'>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class='actions'>
    <%= submit_tag 'SignIn', class: 'btn btn-success' %>
  </div>
<% end %>
<center>