<h2>Log in</h2>

<%= form_tag('/auth/login_auth', method: "post", class: "form-inline" ) do %>

    <%= label_tag(:username, "Username:") %><br />
    <%= text_field_tag(:username) %>

    <%= label_tag(:password, "User Password:") %><br />
    <%= text_field_tag(:password) %>


  
    <%= submit_tag("Log In") %>
  
<% end %>

<a href="<% auth_signup_path %>"> Have not an account?? Sign Up</a>