<h2>Sign Up</h2>

<%= form_tag('/auth/create', method: "post", class: "form-inline" ) do %>

    <%= label_tag(:username, "Username:") %><br />
    <%= text_field_tag(:username) %>

    <%= label_tag(:password, "User Password:") %><br />
    <%= password_field_tag(:password) %>


  
    <%= submit_tag("Sign Up") %>
  
<% end %>

<a href="<% auth_login_path %>"> Have an account?? Log In</a>

