<%= form_with(model: task, class: 'form-inline', local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'font-weight-bolder' %>
    <%= form.text_field :name %>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="field">
    <%= form.label :content, class: 'font-weight-bolder' %>
    <%= form.text_area :content %>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="field">
    <%= form.label :status, class: 'font-weight-bolder' %>
    <%= form.select :status, ['Not Started', 'In progress', 'Done'] %>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="field">
    <%= form.label :priority, class: 'font-weight-bolder' %>
    <%= form.select :priority, ['High', 'Low', 'Under'] %>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="field">
    <%= form.label :start_date, class: 'font-weight-bolder' %>
    <%= form.date_select :start_date %>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div class="field">
    <%= form.label :end_date, class: 'font-weight-bolder' %>
    <%= form.date_select :end_date %>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  
  <div class="field">
  
    <%= form.hidden_field :user_id, value: 'current_user.id' %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
