<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @label.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @label.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @label.user.name %>
</p>



<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
