
<p> <h2>User Details</h2>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>
<p> <h2> Tasks Submitted By This User</h2>
<% @user_tasks.each do |task| %>
 <% if @user.id == task.user_id %>
<ul>

<li>
  Name:<%= @user.tasks.name + '       ' %> <br/>Content:<%= task.content %>

<li class = "user-tasks">
  Name:<%= task.name + '       ' %> <br/>Content:<%= task.content %>

</li>
</ul>
  <% end %>
<% end %>
</p>
<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-info' %>
<%= link_to 'Back', tasks_path, class: 'btn btn-info' %>
<br/><br/><br/><br/><br/><br/><br/><br/>