<!DOCTYPE html>
<html>
  <head>
    <title>EverLeaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
   
   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>

  <body style = "margin-left:5%;margin-right:5%;">

  <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
  <% if current_user %>
  <%= link_to 'My page', user_path(current_user.id), class: 'btn btn-info' %>
  <% end %>
  <% if current_user && current_user.user_type == "admin" %>
  <%= link_to 'Administration screen', admin_users_path, class: 'btn btn-info' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      
      <li class="nav-item">
      
      <li class="nav-item">
        <i class="fas fa-cloud"></i>
      </li>
      
      <% if current_user %>
      <p> signed in as <%= current_user.name %>
      <li class="nav-item active">
      <%= link_to 'signout', logout_path, class: "btn btn-primary " %>
      </li>
      <% else %>
      <li class="nav-item active">
      <%= link_to 'Sign In', login_path, class: "btn btn-primary " %>
      </li><li class="nav-item active">
      <%= link_to 'Signup', signup_path, class: "btn btn-primary " %>

      </li>
      <% end %>
      <li class="nav-item active">
      <%= link_to 'Home', root_path, class: "btn btn-primary " %>
      </li>
      
      <% if current_user %>
      <li class="nav-item">
      <%= link_to 'Normal Users', users_path, class: "btn btn-primary " %>
      </li>
      <li class="nav-item">
      <%= link_to 'Creaate Own Labels', labels_path, class: 'btn btn-info' %>
      </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      
    </ul>
    </nav>
    <br><br><br><br><br>
    <p class="notice"><%= notice %></p>
    
    <%= yield %>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <footer class="page-footer font-small blue pt-4 fixed-bottom bg-info">

          <div class="container-fluid text-center text-md-left">

            <div class="row">

              <div class="col-md-6 mt-md-0 mt-3">
              
              </div>
          <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> DiveIntoCode.com</a>
          </div>
        </footer>
        <script> 
          setInterval(function(){
          var xhttp = new XMLHttpRequest();
          xhttp.open("GET", "/i_am_still_here", true);
          xhttp.send();
        }, 5*60*1000); </script>
  </body>
</html>
