<!DOCTYPE html>
<html>
  <head>
    <title>EverLeaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>

  <body style = "margin-left:5%;margin-right:5%;">

  <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
      
      <li class="nav-item">
      <%= form_tag(tasks_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search tasks" %>
        
        <%= submit_tag "Search" %>
      <% end %>
      <% if @tasks.present? == false %>
      <p>There are no tasks containing the term(s) <%= params[:search] %>.</p>
      <% end %>
      </li>
      <% if current_user? %>
      <li class="nav-item">
      <%= link_to 'Sign Out', destroy_user_session_path, class: "btn btn-danger ", method: :delete %>
      <%= link_to 'See favorite posts', favorites_path, class: "btn btn-info " %>
      </li>
      <% else%>
      <li class="nav-item">
        <%= link_to 'sign_up', new_user_registration_path, class: "btn btn-info " %>
      </li>
      <li class="nav-item">
        <i class="fas fa-cloud"></i>
        <%= link_to 'sign_in', new_user_session_path, class: "btn btn-primary " %>
      </li>
      </li>
      <li class="nav-item">
        <i class="fas fa-cloud"></i>
        
      </li>
      <% end %>
      <li class="nav-item active">
      <%= link_to 'Home', root_path, class: "btn btn-primary " %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      
    </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <footer class="page-footer font-small blue pt-4 fixed-bottom bg-info">

          <div class="container-fluid text-center text-md-left">

            <div class="row">

              <div class="col-md-6 mt-md-0 mt-3">
              
              </div>
          <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> DiveIntoCode.com</a>
          </div>


        </footer>
  </body>
</html>
